 {% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
</head>
<style>

body


{
  background-image: url("{% static 'images/pic.jpg' %}");
   background-attachment: fixed;
  background-size: 100% 100%;
    
h1
    font-family: Eve;
    color: red;
    font-size:15pt;
    text-align:center;

}

</style>

	<h1>sreekanth reddy</h1>
	<h1>9182729635</h1>
        <h1>ksrikanthreddy12@gmail.com</h1>
	<h1>r19ci038@cit.reva.edu.in</h1>
	<a href="http://127.0.0.1:8000/">
	<br>home page</br></a>
</body>
</html>
  {% endblock content %}